# Settings file for flask application
# So, all vars need to be UPPERCASEONLY because that's how flask rolls

# Can be "sqlite3" or "dynamodb"
DBTYPE = "dynamodb"

# Table name for Dynamodb
TABLENAME = "projectsdb"

# Filename and path (relative to app root) for sqlite3 db
# Only used if DBTYPE is sqlite3, otherwise ignored
SQLITE3DB = "db/sql3-database.sdb"
