html {

    font-family: sans-serif;
    background: #000000;
    color: grey;
}
td > a {
    color: grey;
}

plink:hover {
    background: grey;
    color: black;
}

a:link {
    color: orange;
}

a:visited {
    color: orange;
}

a:hover {
    color: black;
    background: orange;
}

.head {
    border: 10px solid;
    border-color: grey;
    border-radius: 15px;
    padding: 5px;
}

.subhead {
    border: 5px solid;
    border-radius: 15px;
    padding: 5px;
}

.menu {
    align: left;
    border: 2px solid;
    border-radius: 15px;
    padding: 5px;
}

table, th, td {
    border: 1px solid;
    padding: 2px;
}

table {
    border-collapse: collapse;
    margin: 10px 5px 5px 5px;
}

/*input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}*/

.navlink a {
  font: bold 12px Arial;
  text-decoration: none;
  text-align: center;
  padding: 2px 6px 2px 6px;
  border-top: 2px solid grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  border-left: 2px solid grey;
  border-radius: 15px;
}

/* Column layout 2-col */
/* Create two columns that float next to each other */
.column {
  flex-direction: row;
  padding: 10px;
  gap: 10px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

fieldset {
    border: 0px;
}

.colbox {
    padding: 5px;
    border: 5px solid grey;
    border-radius: 15px;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

/* Style for forms */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  /*float: right;*/
}