<!doctype html>
<title>The Projects File - {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  <nav class="navlink">
    <a href="{{ url_for('home') }}">Currently Active</a>
    <a href="{{ url_for('paused') }}">Paused</a>
    <a href="{{ url_for('done') }}">Done</a>
    <a href="{{ url_for('getlist') }}">List All</a>
    {% if project %}
    <a href="{{ url_for('edit_project', num=project['number']) }}">Edit</a>
    {% endif %}
   </nav>
   </div>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>