{% extends 'base.html.j2' %}

{% block header %}
  <h1>{% block title %}Edit Project No."{{ project['number'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="idea">Idea</label>
    <input name="idea" id="idea" value="{{ request.form['idea'] or project['idea'] }}" required>
    <label for="created">Created</label>
    <input name="created" id="created" value="{{ request.form['created'] or project['created'] }}">
    <label for="done">Done</label>
    <input name="done" id="done" type="datetime-local" value="{{ request.form['done'] or project['done'] }}"></input>
    <label for="started_on">Started On</label>
    <input name="started_on" id="started_on" type="datetime-local" value="{{ request.form['started_on'] or project['started_on'] }}">
    <label for="stopped_on">Stopped On</label>
    <input name="stopped_on" id="stopped_on" type="datetime-local" value="{{ request.form['stopped_on'] or project['stopped_on'] }}">
    <label for="continuous">Continuous</label>
    <input name="continuous" id="continuous" type="radio" value="1" {% if project['continuous'] %} checked="true" {% endif %}>Yes</input>
    <input name="continuous" id="continuous" type="radio" value="0" {% if not project['continuous'] %} checked="false" {% endif %}>No</input>
    <label for="memoranda">Memoranda</label>
    <textarea name="memoranda" id="memoranda">{{ request.form['memoranda'] or project['memoranda'] }}</textarea>
    <label for="links">Links</label>
    <textarea name="links" id="links" type="url" value="{{ request.form['links'] or project['links'] }}"></textarea>
    <label for="last_modified">Last Modified</label>
    <input name="last_modified" id="last_modified" type="datetime-local" value="{{ request.form['last_modified'] or project['last_modified'] }}">
    <input type="submit" value="Save">
  </form>
{% endblock %}