{% extends 'base.html.j2' %}

{% block header %}
  <h1>{% block title %}Edit Project No."{{ project['number'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="column">
  <div class="colbox">
    <form method="post">
        <div class="row">
            <div class="col-25">
                <label for="idea">Idea</label>
            </div>
            <div class="col-75">
                <input type="text" name="idea" id="idea" value="{{ request.form['idea'] or project['idea'] }}" required>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="memoranda">Memoranda</label>
            </div>
            <div class="col-75">
                <textarea name="memoranda" id="memoranda">{{ request.form['memoranda'] or project['memoranda'] }}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="links">Links</label>
            </div>
            <div class="col-75">
                <textarea name="links" id="links">{{ request.form['links'] or project['links'] }}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="created">Created</label>
            </div>
            <div class="col-75">
                <input name="created" id="created" type="datetime-local" value="{{ request.form['created'] or project['created'] }}">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="done">Done</label>
            </div>
            <div class="col-75">
                <input name="done" id="done" type="datetime-local" value="{{ request.form['done'] or project['done'] }}">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="started_on">Started On</label>
            </div>
            <div class="col-75">
                <input name="started_on" id="started_on" type="datetime-local" value="{{ request.form['started_on'] or project['started_on'] }}">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="stopped_on">Stopped On</label>
            </div>
            <div class="col-75">
                <input name="stopped_on" id="stopped_on" type="datetime-local" value="{{ request.form['stopped_on'] or project['stopped_on'] }}">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <p>Continuous (long term, un-ending)</p>
            </div>
            <div class="col-75">
                <input name="continuous" id="c_yes" type="radio" value="1" {% if project['continuous'] == '1' %} checked {% endif %}>Yes</input><br>
                <input name="continuous" id="c_no" type="radio" value="0" {% if project['continuous'] == '0' or not project['continuous'] %} checked {% endif %}>No</input>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="last_modified">Last Modified</label>
            </div>
            <div class="col-75">
                <input name="last_modified" id="last_modified" type="datetime-local" value="{{ request.form['last_modified'] or dtnow }}">
            </div>
        </div>
        <input type="submit" value="Save">
    </form>
  </div>
</div>
{% endblock %}