{% extends 'base.html.j2' %}

{% block header %}
  <h1>{% block title %}Projects - "{{ title }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div>
    <p>Some sort of ideas notepad
  </div
  <div>
    <p>Furble</p>
  </div>
{% endblock %}

