{% extends 'base.html.j2' %}

{% block header %}
  <h1 class="subhead">{% block title %}Projects: {{ title }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div>
    <h2>Welcome to the Projects File.</h2>
    <p>Somewhere to record life goals, ideas and things you'd like to do.</p>
  </div>
  <div>
    <p>Total Projects: {{ projects|length }}</p>
    <p>Active: {{ get_count_active(projects) }}</p>
    <p>Paused: {{ projects|length }}</p>
    <p>Done: {{ projects|length }}</p>
    <p>Todo: {{ projects|length }}</p>
  <div>
    <h2>This is what you are currently working on</h2>
  {% if not projects %}
  <h3>Nothing to see here! Try starting something...</h3>
  {% else %}
  <table>
  <th>Num.</th>
  <th>Idea</th>
  <th>Created</th>
  <th>Started</th>
  </th>
  {% for project in projects %}
      <tr>
         <td>{{ project['number'] }}</td>
         <td><a class="plink" href="/project/{{ project['number'] }}">{{ project['idea'] }}</a></td>
         <td>{{ project['created']|format_datetime }}</td>
         <td>{{ project['started_on']|format_datetime }}</td>
      </tr>
  {% endfor %}
  </table>
  {% endif %}
{% endblock %}

