{% extends 'base.html.j2' %}

{% block header %}
  <h1 class="subhead">{% block title %}Projects: {{ title }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
    {% if not projects %}
    <h3>Nothing to see here!</h3>
    {% else %}
      <table>
      {% for column in columns %}
      <th>{{ column }}</th>
      {% endfor %}

      {% for project in projects %}
          <tr>
          {% for column in columns %}
             {% if "idea" in column %}
             <td><a class="plink" href="/project/{{ project['number'] }}">{{ project['idea'] }}</a></td>
             {% elif column in ['created', 'started_on', 'stopped_on', 'last_modified', 'done'] %}
             <td>{{ project[column]|format_datetime }}</td>
             {% elif column in ['continuous'] %}
             <td>{% if project['continuous'] == 1 %}Yes{% else %}No{% endif %}</td>
             {% else %}
             <td>{{ project[column] }}</td>
             {% endif %}
          {% endfor %}
          </tr>
        {% if not loop.last %}
        {% endif %}
      {% endfor %}
      </table>
    {% endif %}
</div>
{% endblock %}